
<!DOCTYPE html>
<html>
<head>
	<title>Course Review</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	
</head>
<body>
	<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a New Review</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/second/third/fourth" method="POST">
                <div class="form-group">
                	<label for="exampleFormControlTextarea1" >Name!!</label>
                    <input class="form-control input-lg" type="text" name="name" placeholder="Name">
                </div>
                 <div class="form-group">
    <label for="exampleFormControlTextarea1" class="review">Review!!</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="review"></textarea>
  </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/second/third/fourth">Go Back</a>
        </div>
    </div>
</div>

</body>
</html>