
<!DOCTYPE html>
<html>
<head>
	<title>Course Review</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<style>
	.img-thumbnail {
 height:250px;
    width:100%;
  
}
h4 {
	color:white;
}
body {
    background: url(https://thumbs.dreamstime.com/z/chalkboard-black-texture-background-banner-theme-education-school-restaurant-menu-vector-illustration-119077786.jpg);
    background-size: cover;
    background-position: center; 
}</style>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top navbar navbar-dark bg-primary">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Course Review</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="#about">Login  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
 </nav>
</br>
<div class="container">
<div class="jumbotron">
  <h1 >Courses Review</h1>
    <p class="lead">One solution to all your problems related to different courses here at IITD.</p>
</div>
<div class=row>
	<div class="col-md-6 col-sm-6">
		<a href="/second/third"><img src="http://2.bp.blogspot.com/-TkAMLuMBWJQ/U5sJt9k7F8I/AAAAAAAAEs4/trK9rS-ICco/s1600/First-Year-College.jpg" class="img-thumbnail"></a>
		<h4>First Year</h4>
	</div>
<div class="col-md-6 col-sm-6">
		<a href="#"><img src="https://snworksceo.imgix.net/dtc/031e0377-c4f5-4948-ad98-6aa70539f58a.sized-1000x1000.jpg?w=1000" class="img-thumbnail"></a>
		<h4>Second Year</h4>
	</div>

</div>
<div class=row>
	<div class="col-md-6 col-sm-6">
		<a href="#"><img src="https://www.antargyan.com/images/thumbs/0000089-third-year-450.jpeg" class="img-thumbnail"></a>
		<h4>Third Year</h4>
	</div>
<div class="col-md-6 col-sm-6">
		<a href="#"><img src="https://sd.keepcalm-o-matic.co.uk/i/i-can-t-keep-calm-i-m-officially-a-senior-in-college-1.png" class="img-thumbnail"></a>
		<h4>Fourth Year</h4>
	</div>

</div>



  </div>




<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>